/* 1440 878 639 e 552 */

@media screen and (max-width: 828px) {


    .logo-wrapper > img:first-of-type{
        display: none;
    }

    .logo-wrapper > img:last-of-type{
        display: flex;
    }

    aside > div{
        margin-right: 0;
        padding-right: 1rem;
    }

    .icon-wrapper span, .icon-wrapper.playlist, .icon-wrapper ul, hr{
        display: none;
        margin-right: 0;
        padding-right: 0;
        align-items: center;
    }

    header{
        width: 92vw;
    }

    .footer-left-icons{
    margin-left: 1rem;
    
}

    .footer-center-icons-top > span{
        margin-left: 1rem;
    }

}

@media screen and (max-width: 1132px){
    .recently-played-img > img{
        width: calc(70vw / 4);
        /* margin-left: 1rem; */
        
    }
}

@media screen and (max-width: 930px){
    .recently-played-img > img{
        width: calc((70vw / 2) - 1.6rem);
        justify-content: center;
    }

    .recently-played-container{
        margin: 0 0.8rem;
    }
}

@media  screen and (max-width: 420px) {
    .recently-played-img > img{
        width: calc((70vw / 1) - 1.6rem);
    }


}

@media screen and (max-width: 904px){
    .footer-center-bottom > span{
        padding: 0;
    }


}

@media screen and (max-width: 744px)
{
    .footer-left-icons{
    margin-left: 0.1rem;
    
}

.footer-right-icons > span{
    padding: 0.2rem;
}

.footer-right-icons > input{
    width: 50%;
    margin-top: 0.1rem;
    margin-right: 0.1rem;
}
}

@media  screen and (max-width: 616px) {
    footer{
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 616px){
    .footer-center-icons-top > span{
    
    margin-left: 0.5rem;
}
}